@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #8DB932;
  --color-secondary: #45B2EA;
  --color-tertiary: #154987;
  --color-white: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
